* {
    box-sizing: border-box;
    text-align: center;
}

:root {
    --radius: 2rem;
}

.calculator {
    display: inline-block;
    border-radius: var(--radius);
    box-shadow: 3px 3px 10px #444444;
}

.calculator .screen {
    background-color: red;
    text-align: right;
    padding: 3rem;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    font-family: 'Orbitron', sans-serif;
}

.calculator .screen .operations {
    font-size: 1.5rem;
    min-height: 30px;
}

.calculator .screen .result {
    font-size: 3rem;
}

.calculator .keypad {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.calculator .keypad > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.calculator .keypad button {
    border: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    color: #555555;
    cursor: pointer;
}

.calculator .keypad button:hover {
    background-color: #d5797983;
}

.calculator .keypad > div:las-child > button:last-child {
    background-color: red;
    color: white;
}
